.tab {
  background: #333;
  padding-left: 8px;
}
.tab .label {
  color: #eee;
}
.closebox {
  display: none;
}
.newtab-button {
  display: none !important;
}
.twisty {
  display: none !important;
}

#tabbar {
  background-color: #222 !important;
}
.pinned {
  background: #000 !important;
  border: none !important;
}