#TabsToolbar,
#sidebar-header {
    visibility: collapse !important;
    border: none !important;
    padding: 0 !important;
    background-color: #333 !important;
}

#sidebar {
    min-width: 0px !important;
}

#urlbar,
.searchbar-textbox {
    border: none !important;
    box-shadow: none !important;
    background-color: #333 !important;
    padding: 0 !important;
    margin: 0 0 -3px 0 !important;
}

#urlbar[pageproxystate="valid"] :-moz-any(.verifiedDomain, .verifiedIdentity) #connection-icon {
    display: none !important;
}

:root {
    --toolbarbutton-border-radius: 0px !important;
}

#toolbar-menubar {
    background-color: #333 !important;
    margin-top: -3px !important;
}

#sidebar-splitter {
    background-color: #333 !important;
    width: 3px !important;
    border: none !important;
}

/* hide page info button */
#urlbar :not(.grantedPermissions) #identity-icon {
    transition: 300ms !important;
    /* Animate icon hiding */
    opacity: 0 !important;
    /* Make icons transparent */
    -moz-margin-end: -1.1em !important;
    /* Hide icons by offsetting them */
}

/* Hide tab close buttons until hovered */
.tabbrowser-tab:not([pinned="true"]):not(:hover) .tab-close-button {
  display: none !important;
}
